{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MBox</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div id="popup-message" style="display:none; position:fixed; top:70px; right:50%; background-color:#333; color:#fff; padding:10px 20px; border-radius:5px; z-index:1000; opacity:0.9;">
            Message sent!
        </div>
        
        
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>